

@import './modules/var.scss';
@import './modules/common.scss';

@import './modules/banner.scss';
@import './modules/head.scss';
@import './modules/foot.scss';

/* index页 自己的样式 */

.goods{
    margin-bottom: 30px;
    .goods_title{
        font-size:30px;
    }
    .goods_list{
        li{
            width:230px;
            height:290px;
            margin:5px;
            float:left;
            background: #f9f9f9;
            border-radius: 10px;
            text-align: center;
            img{ @include wh100; padding:20px; box-sizing: border-box;}
            h3,p{ margin-bottom: 10px;}
            transition: all .2s linear 0s;
            &:hover{
                box-shadow: 0 12px 36px rgba(0,0,0,0.1);
            }
        }
    }
}
